<table class="highlight responsive-table">

    {{#if registrar}}

    <tbody>

        <tr>
            <td>Registrar:</td>
            <td>{{registrar}}</td>
        </tr>


        <tr>
            <td>Status:</td>
            <td>{{status}}</td>
        </tr>

        <tr>
            <td>Created:</td>
            <td>{{created}}</td>
        </tr>

        <tr>
            <td>Expires:</td>
            <td>{{expire}}</td>
        </tr>


    </tbody>
    {{/if}}
</table>