<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="application/javascript; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>SGWebKit</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles/register.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

    <form action="/" method="POST">
        <div class="container">
            <div class="row">
                <form class="col s12" id="reg-form">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" name="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" minlength="6" name="password"
                                required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn btn-large btn-register waves-effect waves-light" type="submit"
                                name="action">Login
                                <i class="material-icons right">done</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="center">
                <a href="/register" class="center-align">Not registered?</a>
            </div>

        </div>
    </form>

    <script>
        M.AutoInit();

    </script>

</body>