<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="application/javascript; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>SGWebKit</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- Compiled and minified JavaScript -->


</head>

<body>
    <nav class="grey darken-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SGWebKit</a>
            <ul class="right hide-on-med-and-down deep-orange lighten-1">
                <li class="active"><a href="/home">Home</a></li>
                <li class="active"><a href="/dns">DNS</a></li>
                <li class="active"><a href="/htaccess">.htaccess</a></li>
                <li class="active"><a href="#">Tickets</a></li>
                <li class="active"><a href="#">Plugins</a></li>
                <li><a href="/logout" class="right deep-orange lighten-2"><i
                            class="material-icons">power_settings_new</i></a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Home</a></li>
                <li><a href="#">DNS</a></li>
                <li><a href="#">.htaccess</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">Plugins</a></li>
            </ul>

            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        </div>
        {{#if isLoggedIn}}
        <a href="#">test</a>
        {{/if}}

    </nav>

    {{{body}}}

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">TODOs</h5>
                    <ul>
                        <li>Add Delete</li>
                        <li>Add Edit</li>
                        <li>Create ticket route</li>
                        <li>Ticket partial as a bubble on all pages for quick ticket creation</li>
                        <li>Google Auth</li>
                        <li>Welcome user</li>
                    </ul>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Quick Links</h5>
                    <ul>
                        <li><a class="white-text" href="https://admin.chat-assistance.com/chat/monitor">Chat</a></li>
                        <li><a class="white-text" href="https://maco.siteground.com/login.htm">MACO</a></li>
                        <li><a class="white-text"
                                href="https://kb.sgsales.info/wp-login.php?redirect_to=https%3A%2F%2Fkb.sgsales.info%2F&reauth=1">Internal
                                KB</a></li>
                        <li><a class="white-text" href="https://elk.sgvps.net/app/kibana#/discover?_g=()">Kibana</a>
                        </li>
                        <li><a class="white-text"
                                href="https://sitegroundcomllc2.humanity.com/app/dashboard/">Humanity</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Tools</h5>
                    <ul>
                        <li><a class="white-text" href="https://hosts.cx/">Hosts.cx</a></li>
                        <li><a class="white-text" href="https://securitytrails.com/">Security Trails</a></li>
                        <li><a class="white-text" href="https://gtmetrix.com/">GTMetrix</a></li>
                        <li><a class="white-text" href="https://kproxy.com/">Kproxy</a></li>
                        <li><a class="white-text" href="https://www.whynopadlock.com/">WhyNoPadLock</a></li>
                        <li><a class="white-text" href="http://www.isnotspam.com/">IsNotSpam</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                SGWebKit <a class="orange-text text-lighten-3 center" href="#">Copyright &copy 2020</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


    <script>  document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });
    </script>

    <script>
        M.AutoInit();

    </script>

    <script>
        function copyURI(evt) {
            evt.preventDefault();
            navigator.clipboard.writeText(evt.target.getAttribute('href')).then(() => {
                const style = evt.target.style.color
                evt.target.style.color = 'orange'
                setTimeout(function () {
                    evt.target.style.color = style

                }, 300)

            }, () => {
                /* clipboard write failed */
            });
        }
    </script>

</body>

</html>