<body>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">DNS + Whois</h1>
            <div class="row center">
                <h5 class="header col s12 light">A quick and easy lookups with all relevant information needed in one
                    place</h5>
            </div>

            <br><br>

            <div class="row z-depth-1">
                <form class="col s12" method="POST" action="/dns">
                    <div class="row">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">domain</i>
                            <input id="icon_telephone" type="tel" class="validate" name="domain">
                            <label for="icon_telephone">domain.tld</label>
                        </div>


                        <div class="center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Look Up!
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="row col s6 center">
        <div class="container">
            <div class="section">

                {{> dnsTable2}}
                <br><br>
                {{> dnsTable1}}
                <p class="center">{{timer}}</p>
            </div>

        </div>
    </div>

    </div>
    <br><br>
    </div>

</body>