<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>

<body>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Articles</h1>
            <div class="row center">
                <h5 class="header col s12 light">A place for your frequently used articles</h5>
            </div>

            <br><br>

            <div class="row z-depth-1">
                <form class="col s12" method="POST" action="/home">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">label</i>
                            <input id="icon_prefix" type="text" class="validate" name="articleName">
                            <label for="icon_prefix">Article name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">http</i>
                            <input id="icon_telephone" type="tel" class="validate" name="articleUrl">
                            <label for="icon_telephone">URL..</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">list</i>
                            <select name="panel">

                                <option value="cpanel">cPanel</option>
                                <option value="sitetools">Sitetools</option>
                            </select>
                            <label>Select panel</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">list</i>
                            <select name="category">

                                <option value="wordpress">WordPress</option>
                                <option value="optimization">Optimization</option>
                                <option value="others">Others</option>
                                <option value="transfer">Transfer</option>
                                <option value="email">Email</option>
                                <option value="miscellaneous">Miscellaneous</option>
                                <option value="cache">Cache</option>
                            </select>
                            <label>Choose category</label>
                        </div>
                        <div class="center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Create
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section">


            {{> articlesST }}
            {{> articlesCP }}

        </div>

    </div>


    <div class="center-align">
        <form action="">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Mode
                <i class="material-icons right">edit</i>
            </button>
        </form>
    </div>

    </div>
    <br><br>
    </div>


</body>

</html>